extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id tellus non massa viverra auctor at bibendum nisi. Quisque at odio mi. Nunc est turpis, tempus vel leo non, finibus egestas odio. Maecenas et hendrerit augue. Fusce iaculis tempus metus sit amet placerat. Phasellus a tincidunt felis, ut suscipit velit. Proin pulvinar massa nulla, cursus condimentum quam condimentum vestibulum. Ut ornare maximus fermentum. Nam et elit quis leo semper cursus sed quis risus. Etiam nec posuere urna.

                p Cras ac ornare neque. Aliquam nec quam maximus, ullamcorper felis sed, imperdiet eros. Aenean quam nulla, accumsan eget aliquet ut, tincidunt eu nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sit amet erat eget nisi cursus iaculis facilisis non arcu. Mauris bibendum massa at lacus vulputate euismod. Integer non commodo risus, ut vulputate leo. Sed sit amet justo consectetur, pretium justo et, hendrerit purus. Donec a sollicitudin dui.

                p Nam pellentesque ex vel ipsum pulvinar, non efficitur dui vehicula. Phasellus finibus justo ut nisl pretium fermentum id eget sapien. Donec tristique, orci vel ultrices mattis, mauris tortor bibendum massa, a mattis leo turpis ut nibh. Nullam vehicula lorem libero, sed pharetra odio ornare vitae. Suspendisse vitae nulla posuere, fermentum leo vitae, fringilla erat. Nulla sit amet purus ultricies, lacinia ligula eu, venenatis justo. Phasellus ut ex elementum, vehicula tellus mollis, interdum erat. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nullam vehicula lorem libero, sed pharetra odio ornare vitae. Suspendisse vitae nulla posuere, fermentum leo vitae, fringilla erat. Nulla sit amet purus ultricies, lacinia ligula eu, venenatis justo. Phasellus ut ex elementum, vehicula tellus mollis, interdum erat. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Nullam vehicula lorem libero, sed pharetra odio ornare vitae. Suspendisse vitae nulla posuere, fermentum leo vitae, fringilla erat. Nulla sit amet purus ultricies, lacinia ligula eu, venenatis justo. Phasellus ut ex elementum, vehicula tellus mollis, interdum erat. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Nullam vehicula lorem libero, sed pharetra odio ornare vitae. Suspendisse vitae nulla posuere, fermentum leo vitae, fringilla erat. Nulla sit amet purus ultricies, lacinia ligula eu, venenatis justo. Phasellus ut ex elementum, vehicula tellus mollis, interdum erat. 